################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Envolti.JurosAPI/.vs
/Envolti.JurosAPI/bin/Debug
/Envolti.JurosAPI/Envolti.CalculaJurosAPI/obj
/Envolti.JurosAPI/Envolti.CalculaJurosAPI/bin/Debug/netcoreapp2.1
/Envolti.JurosAPI/Envolti.Dominio/obj
/Envolti.JurosAPI/Envolti.Dominio/bin/Debug/netcoreapp2.1
/Envolti.JurosAPI/Envolti.Excecoes/obj
/Envolti.JurosAPI/Envolti.Excecoes/bin/Debug/netcoreapp2.1
/Envolti.JurosAPI/Envolti.Interfaces/obj
/Envolti.JurosAPI/Envolti.Interfaces/bin/Debug/netcoreapp2.1
/Envolti.JurosAPI/Envolti.IoC/obj
/Envolti.JurosAPI/Envolti.IoC/bin/Debug/netcoreapp2.1
/Envolti.JurosAPI/Envolti.JurosAPI/obj
/Envolti.JurosAPI/Envolti.JurosAPI/bin/Debug/netcoreapp2.1
/Envolti.JurosAPI/obj
/Envolti.Dominio.Testes/bin/Debug/netcoreapp2.1
/Envolti.Dominio.Testes/obj
/Envolti.JurosAPI/Envolti.Servicos/obj
/Envolti.JurosAPI/Envolti.Servicos/bin/Debug/netcoreapp2.1
/Envolti.JurosAPI/IoC/obj
/Envolti.JurosAPI/Interfaces/obj
/BKPS
/Envolti.IntegracaoApis.Testes/.vs/Envolti.Integracao.Testes
/Envolti.IntegracaoApis.Testes/bin/Debug/netcoreapp2.1
/Envolti.IntegracaoApis.Testes/obj
